{% extends "layout.twig" %}
{% block content %}

<header>
   <div class="wrapper clearfix">
      <div class="companyheader clearfix">
         {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
         {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
      </div>
      {{widget('extendednavigation', 'navigationheader', {})|raw}}
   </div>
</header>
<section>
   {{widget('feature', 'featurehome', {"header": "profile", "strapline":"profile", "buttonText":"Lorem Ipsum","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '50','showBtn': true})|raw}}
   <div class="widget search">
      <form>
          <fieldset>
            <label for="search" class="label">Search:</label>
            <input type="search" name="blogsearch" placeholder="Search...">
            <button type="submit" class="btn btnText">Go</button>
          </fieldset>
      </form>
   </div>

</section>



<div class="main wrapper clearfix">

  <div class="widget blogpost">
      <h2 class="blog-title">JavaScript Developer Survey 2013: Results</h2>

      <div class="blog-post-author">
          <span>Hao Chang</span>
      </div>

      <div class="blog-post-date">
          <span>2013-12-16</span>
      </div>

      <div class="blog-post">
        <p>
        51% of readers write client-side code, while 28% said they write server-side code. Last year client-side was at 98%, so I imagine this is partly due to a changing audience on DailyJS, but it’s interesting how strong server-side development is becoming.
        </p>
        <p>
        Where do you write JavaScript? 54% said “at work”, and 45% said “side projects”. This is probably a case of people doing both – I find it’s common for programmers to be both hobbyists and professionals.
        </p>
        <p>
        The majority of readers have been writing JavaScript for three to five years (34%). I can’t help but feel this is thanks to the growth of Node – people rediscovering JavaScript after using other languages for server-side web development, or the growth of client-side frameworks like AngularJS and Backbone.js. I can’t imagine doing design without some JavaScript skills.
        </p>
        <p>
        78% of readers said they don’t use a language that compiles to JavaScript. I’ve noticed some of the influential members of the Node community are vocal about these languages, so it seems like our readers agree. I try to keep some coverage of these languages on the blog, but in general the focus is on JavaScript.
        </p>
        <p>
        CoffeeScript was the most popular “compile-to” language (64%), and TypeScript was up from last year to 19%.
        </p>
      </div>

      <div class="blog-metadata">
          <div class="blog-category">
              <span>My Category</span>
          </div>

          <div class="blog-tags">
              <span class="tag">tag1,</span>
              <span class="tag">tag2,</span>
              <span class="tag">tag3</span>
          </div>
      </div>
  </div>

<div class="widget blogcomments"><div class="bk-blog-comment">
    <img style="width:25px;" src="http://basekit-image.s3.amazonaws.com/development37_a14d05ce9f9c40ca8f785992a2022f77.jpg">
    <span>Tom</span>
    
     
    <a href="http://basekit.com">http://basekit.com</a> 
        
     
    <time>05/Sep/13 4:11 PM</time>
        
    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pharetra dapibus pharetra. Donec interdum eros eu turpis pharetra et hendrerit est ornare. Etiam eu nulla sapien. Nullam ultricies posuere nunc, eget mollis nulla malesuada quis.</div>
</div>
<div class="bk-blog-comment">
    <img style="width:25px;" src="http://basekit-image.s3.amazonaws.com/development37_a14d05ce9f9c40ca8f785992a2022f77.jpg">
    <span>Jim</span>
    
     
    <a href="http://basekit.com">http://basekit.com</a> 
        
     
    <time>06/Sep/13 4:11 PM</time>
        
    <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pharetra dapibus pharetra. Donec interdum eros eu turpis pharetra et hendrerit est ornare. Etiam eu nulla sapien. Nullam ultricies posuere nunc, eget mollis nulla malesuada quis.</div>
</div>

<form action="" method="post">
    <fieldset>
        <label for="name">Name:</label>
        <input class="name" name="name" maxlength="50" type="text">

        <label for="email">Email:</label>
        <input class="email" name="email" type="email">
        
         
        <label for="website">Website:</label>
        <input class="website" name="website" type="url">
        
        <label for="comment">Comment:</label>
        <textarea class="comment" name="comment" maxlength="2500"></textarea>
        <button class="btn btnText  " type="submit">Submit</button>
    </fieldset>
</form></div>




</div>
</div>
</div>
<footer>
   <div class="wrapper clearfix">
      <div class="responsivecolumns columns-two-50-50">
         <div class="column columns-two-left">
            {{widget('content', 'footercolumn1content1', {"content":"<h2>Lorem Ip Soda</h2><p>Integer a Tortor Dui. Nullam nec ante mi. Morbi sodales urna sit amet mauris elementum quis rutrum lacus gravida. Proin feugia libero quis.</p>"})|raw}}
            {{widget('profile', 'footercolumn1profilesocialicons', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}
         </div>
         <div class="column columns-two-right">
            {{widget('content', 'footercolumn2content1', {"content":"<h2>Aliquam Sodales</h2>"})|raw}}
            {{widget('profile', 'footercolumn2profiletwitter', { 'profileType':'twitter', 'twitter':'profile'})|raw}}
            {{widget('profile', 'footercolumn2profilecopyright', { 'profileType':'copyright', 'copyright':'profile'})|raw}}
         </div>
      </div>
   </div>
</footer>
{% endblock %}