{% if data.title == 'assets' and asset.title %}
	{% set title = asset.title %}
{% elseif data.title != 'assets' %}
	{% set title = data.title %}
{% endif %}

{% if data.alt and data.alt|length %}
    {% set alt = data.alt %}
{% else %}
    {% set alt = asset.title %}
{% endif %}

{% if data.description == 'assets' and asset.description %}
	{% set description = asset.description %}
{% elseif data.description != 'assets' %}
	{% set description = data.description %}
{% endif %}

<a {% if data.action and data.action != 'none' %} href="{{ data.linkUrl }}" target="{{ data.target }}" {% else %} href="#" image-href="{{data.src}}" rel="lightbox" {% endif %} title="{{ title }}">
 	<span class="image-img">
		<img class="image{% if data.align %} {{data.align}}{% endif %}" src="{{ data.src }}" alt="{{ alt }}" title="{{ title }}" data-filename="{{ data.fileName }}" data-filesize="{{ data.fileSize }}" data-imagesize="{{ data.imageSize }}" {% if data.imageWidth|length > 0 and data.imageWidth != 'auto' %}width= "{{ data.imageWidth}}" {% endif %} />
	</span>
	{% if title %}
	<span class="image-title">{{ title }}</span>
	{% endif %}
    {% if description %}
    <span class="image-description">{{ description|nl2br }}</span>
    {% endif %}
</a>


