<div class="ecombasket-pull js-pull">
    <p>{{ 'widgets.ecombasket.basket'|translate('Basket') }}:
        <span class="basket-count">{{data.items.quantity}}</span>
    </p>
</div>

<div class="ecombasket-list-container">
    <ul>
        {% for item in data.items %}
            <li data-ref="{{item.ref}}">
                <div class="ecombasket-item-image" style="background-image:url({{item.assetUrl}});">
                    <img src="{{item.assetUrl}}">
                </div>

                <div class="ecombasket-item-info">
                    <a class="ecombasket-item-title" href="{{ requestBase }}/store/product/{{ item.slug }}">{{item.title}}</a>
                    <div class="ecombasket-item-count-wrapper">
                        <span class="ecombasket-item-count-label">{{'widgets.ecombasket.quantity'|translate('Quantity:')}}</span>
                        <span class="ecombasket-item-count">{{item.quantity}}</span>
                    </div>
                    <span class="ecombasket-item-price">{{item.price}}</span>
                    <span class="ecombasket-remove-button js-remove" data-ref="{{item.ref}}">{{ 'widgets.ecombasket.remove'|translate('Remove') }}</span>
                </div>
            </li>
        {% endfor %}
    </ul>

    <div class="ecombasket-total-wrap"><p>{{ 'widgets.ecombasket.total'|translate('Total') }}: <span class="ecombasket-total">{{ data.subTotalPrice }}</span></p></div>
    <div class="ecombasket-checkout-wrap"><a class="ecombasket-checkout-link" href="{{ requestBase }}/store/checkout">{{ 'widgets.ecombasket.checkout_link'|translate('Checkout') }}</a></div>
</div>
