{% if plugins.ecommerce.product is not null %}
    {% set product = plugins.ecommerce.product %}
    <article class="ecom-product">
        {% if product.assets is not null %}
        <div class="ecom-product-images-container">
            {% set imageSrcPreview = plugins.assets.images[product.assets|first.assetRef].url %}
            <div class="ecom-product-preview-image-wrap" style="background-image:url('{{ imageSrcPreview }}')">
                <img class="ecom-product-preview-image" src="{{imageSrcPreview}}" alt>
            </div>
            {% if product.assets|length > 1 %}
            <ul class="ecom-product-image-list">
            {% for asset in product.assets %}
                {% if plugins.assets.images[asset.assetRef].fileType == 'image' %}
                {% set imageSrc = plugins.assets.images[asset.assetRef].url%}
                <li class="ecom-product-image-wrap" style="background-image:url('{{ imageSrc }}')">
                    <img class="ecom-product-image" src="{{ imageSrc }}" alt>
                </li>
                {% endif %}
            {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% endif %}

        <div class="ecom-product-info">
            <h2 class="ecom-product-title">{{product.title}}</h2>
            <p class="ecom-product-price">{{data.price}}</p>

            {% if data.notAvailable %}
                <p>Currently unavailable</p>
            {% endif %}

            {% if data.options|length > 0 %}
            <div class="ecom-product-variation">
            {% for option in data.options %}
                <span class="ecom-product-vartitle">{{option.title}}</span>
                <select data-option-name="{{option.title}}">
                    {% for value in option.values %}
                        <option value="{{value.ref}}" {% if value.disabled or option.disabled %} disabled {% endif %}{% if option.valueRef == value.ref %} selected {% endif %}>{{value.title}}</option>
                    {% endfor %}
                </select>
            {% endfor %}
            </div>
            {% endif %}

            <div class="ecom-product-add-to-cart-btn-wrapper">
                <button class="btn ecom-product-add-to-cart-btn" data-ref="{{ data.variationRef }}" {% if data.disableButton %} disabled {% endif %}>
                    {% if data.notAvailable %}
                        <span class="text">{{ 'widget.ecomproduct.buy_unavailable'|translate('Currently unavailable') }}</span>
                    {% else %}
                        <span class="text">Add to cart</span>
                    {% endif %}
                </button>
            </div>

            <div class="ecom-product-go-to-checkout-btn-wrapper">
                <a href="{{ requestBase }}/store/checkout" class="btn ecom-product-go-to-checkout-btn" hidden>
                    {{ 'widget.ecomb-product.checkout_link'|translate('Checkout') }}
                </a>
            </div>

            {% if (product.category is not null and product.category|length > 0) or (product.tags is not null and product.tags|length > 0) %}
            <div class="ecom-product-cattag">
                {% if product.category is not null and product.category|length > 0 %}
                <span class="ecom-product-category">
                    Category
                    <a href="{{ requestBase }}/store?category={{ product.category.slug }}" class="store-category-link">{{ product.category.name }}</a>
                </span>
                {% endif %}

                {% if product.tags is not null and product.tags|length > 0 %}
                    <span class="ecom-product-tag">
                        Tags 
                        {% for tag in product.tags %}
                            <a href="{{ requestBase }}/store?tag={{ tag.slug }}" class="ecom-product-tag-link">{{ tag.title }}</a>
                        {% endfor %}
                    </span>
                {% endif %}
            </div>
            {% endif %}

        </div>

    <p class="ecom-product-long-description">{{product.longDescription}}</p>
    </article>
{% else %}
    <p>There aren't any products to display.</p>
{% endif %}
