<div class="facebooklike">
  <iframe src="http://www.facebook.com/plugins/like.php?href={{data.thisUrl}}&amp;layout={{data.layout}}&amp;show_faces={{data.show_faces}}&amp;action={{data.action}}&amp;colorscheme={{data.colorscheme}}&amp;font={{data.font}}&amp;height={{data.height}}&amp;width=290&locale={{data.locale}}" style="clear: both; margin-top: 8px; border:none; overflow:hidden; width:300px; height:{{data.height}}px;"></iframe>
</div>