{% if subsection.active == 1 %}
    <li class="menu-subsection-wrapper{% if subsection.highlight %} menu-subsection-promoted{% endif %}">
        <div class="menu-subsection-header">
            <h2 class="menu-subsection-name">{{ subsection.title }}</h2>
            {% if subsection.availability is not null %}
                <p class="menu-subsection-availability">{{ subsection.availability }}</p>
            {% endif %}
            {% if subsection.description is not null %}
                <p class="menu-subsection-description">{{ subsection.description }}</p>
            {% endif %}
        </div>

        {% if subsection.items|length %}
            {% set numClass = 'odd' %}
            {% set count = subsection.items|length %}

            {% if count % 2 == 0 %}
                {% set numClass = 'even' %}
            {% endif %}

            <ol class="menu-items {{ numClass }} bk{{ count }}-columns">
                {% for item in subsection.items %}
                    {% if item.active == 1 %}

                        {% if item.menuType == 'item' %}
                            {% include "widgets/widget_menu_item.twig" with {'item': item} %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ol>
        {% endif %}
    </li>
{% endif %}
