{% if plugins.ecommerce.products|length %}
    {% for product in plugins.ecommerce.products %}
        <p>{{product.title}}</p>
        <p>{{product.shortDescription}}</p>
        {% if product.category is not null %}
            <p>
                <a href="/store/categories/{{product.category.name}}" class="store-category-link">{{product.category.name}}</a>
            </p>
        {% endif %}
        {% if product.tags is not null %}
            {% for tag in product.tags %}
                <p>
                    <a href="/store/tags/{{tag}}" class="store-tag-link">{{tag}}</a>
                </p>
            {% endfor %}
        {% endif %}
        {% if product.assets is not null %}
            {% for asset in product.assets %}
                {% if plugins.assets.images[asset.assetRef].fileType == 'image' %}
                    <input type="hidden" name="imageAssetRef" value="{{asset.assetRef}}">
                    <img class="product-image" src="{{plugins.assets.images[asset.assetRef].url}}" alt>
                {% endif %}
            {% endfor %}
        {% endif %}
        <button data-ref="{{ product.ref }}">Add to cart</button>
    {% endfor%}
{% else %}
    <p>There aren't any products to display.</p>
{% endif %}
