<div class="facebooklike">
  <iframe src="http://www.facebook.com/plugins/like.php?href={{data.thisUrl}}&amp;layout={{data.layout}}&amp;show_faces={{data.showFaces}}&amp;action={{data.action}}&amp;colorscheme={{data.colorscheme}}&amp;font={{data.font}}&amp;height={{data.height}}&amp;width=290&locale={{data.locale}}" style="height:{{data.height}}px;"></iframe>
</div>