<form action="" method="post" novalidate>
    <fieldset {% if data.align %}class="{{data.align}}"{% endif %}>
        <label for="email">{{"widgets.userlogin.email"|translate("Email")}}:</label>
        <input type="email" class="email" value="" maxlength="255" placeholder="{{"widgets.userlogin.emailholder"|translate("Your Email")}}">
        <p class="error email hidden"><!-- email errors --></p>

        <label for="password">{{"widgets.userlogin.password"|translate("Password")}}:</label>
        <input type="password" class="password" value="" maxlength="255" placeholder="{{"widgets.userlogin.passwordholder"|translate("Enter Password")}}">
         <p class="error password hidden"><!-- password errors --></p>

        <button class="userloginbtn btnText {% if data.italic %}italic{% endif %} {% if data.bold %}bold{% endif %} {{data.textAlign}}" type="submit" {% if data.fontSize|length > 0 %}style="font-size: {{data.fontSize}}px"{% endif %}>{{data.text}}</button>
        <p class="error submission hidden"><!-- error message --></p>
    </fieldset>
</form>