<div class="b-wrap{% if data.align %} {{data.align}}{% endif %}">
{% if data.icon|length > 0 %}
	<button class="btn {% if data.italic %}italic{% endif %} {% if data.bold %}bold{% endif %} {{data.textAlign}}" ><i class="{{data.icon}} {% if data.iconColor %}icon-{{data.iconColor}}{% endif %}"></i> <span class="btnText" {% if data.fontSize|length > 0 %}style="font-size: {{data.fontSize}}px"{% endif %}>{{data.text}}</span></button>
{% else %}
	<button class="btn {% if data.italic %}italic{% endif %} {% if data.bold %}bold{% endif %} {{data.textAlign}}" ><span class="btnText" {% if data.fontSize|length > 0 %}style="font-size: {{data.fontSize}}px"{% endif %}>{{data.text}}</span></button>
{% endif %}
</div>