{% if data.selectedTag|length > 0 %}
    {% set products = plugins.ecommerce.filteredProducts.products %}
    {% if products|length > 0 %}

        {% set tags = plugins.ecommerce.store.tags %}
        {% if tags|length > 0 %}

        <section class="ecom-featuredproducts-wrap">
            {% if data.title|length > 0 %}
            <header class="ecom-featuredproducts-header">
                <h2>{{ data.title }}</h2>
            </header>
            {% endif %}
            {% set productFound = false %}
            {% for product in products %}
                {% for tag in product.tags %}
                    {% if tag.slug == data.selectedTag %}
                        {% set productFound = true %}
                        <article class="ecom-featuredproducts-product">
                            {% if product.assets is not null %}
                                {% set assetRef = product.assets[0].assetRef %}
                                {% set asset = plugins.assets.images[assetRef] %}
                                {% if asset.fileType == 'image' %}
                                    {% set imageSrc = asset.url %}
                                    <a class="ecom-featuredproducts-image-wrap" style="background-image:url('{{ imageSrc }}')" href="{{ requestBase }}/store/product/{{ product.slug }}">
                                        <img class="ecom-featuredproducts-image" src="{{ imageSrc }}" alt="">
                                    </a>
                                {% endif %}
                            {% endif %}

                            <div class="ecom-featuredproducts-info">
                                <h2 class="ecom-featuredproducts-title"><a href="{{ requestBase }}/store/product/{{product.slug}}">{{product.title}}</a></h2>
                                <span class="ecom-featuredproducts-price">
                                    {% if product.multiplePrices %}
                                        {{ "widgets.ecomfeaturedproducts.minimum_price"|translate("From %1", product.formattedPrice) }}
                                    {% else %}
                                        {{ product.formattedPrice }}
                                    {% endif %}
                                </span>
                            </div>
                        </article>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </section>
        {% else %}
            <p>{{"widgets.ecomfeaturedproducts.notags"|translate("This widget uses product tags to display specific groups of products. Add tags to your products to use this widget."|raw)}}</p>
        {% endif %} {# end tags check #}
    {% else %}
        <p>{{"widgets.ecomfeaturedproducts.noproducts"|translate("This widget uses product tags to display specific groups of products. Add products to your store to use this widget. "|raw)}}</p>
    {% endif %} {# end products check #}


{% else %}
    <p><b>No tags selected</b></p>
    <p>{{"widgets.ecomfeaturedproducts.notag_selected_text"|translate("This widget uses product tags to display specific groups of products. Select a tag in the widget settings panel to show all products with that tag.")|raw}}</p>
{% endif %}

{% if productFound == false %}
    <p>{{"widgets.ecomfeaturedproducts.no_products_available"|translate("There are no products in the store that use the tag - <b>%1</b>. Choose another tag.", data.selectedTag)|raw}}</p>
{% endif %}