{% if plugins.ecommerce.products[0] is defined %}
{% set product = plugins.ecommerce.products[0] %}
    <p>{{product.title}}</p>
    <p>{{product.longDescription}}</p>
    <p>{{product.sku}}</p>
    {% if product.category is not null %}
        <p>{{product.category.name}}</p>
    {% endif %}
    {% if product.assets is not null %}
        {% for asset in product.assets %}
            {% if plugins.assets.images[asset.assetRef].fileType == 'image' %}
                <input type="hidden" name="imageAssetRef" value="{{asset.assetRef}}">
                <img class="product-image" src="{{plugins.assets.images[asset.assetRef].url}}" alt>
            {% endif %}
        {% endfor %}
    {% endif %}
    <button data-ref="{{ product.ref }}">Add to cart</button>
{% else %}
    <p>There aren't any products to display.</p>
{% endif %}
