<div class="b-wrap{% if data.align %} {{data.align}}{% endif %}">
    <button class="btn {% if data.italic %}italic{% endif %} {% if data.bold %}bold{% endif %} {{data.textAlign}}" data-link="{{data.link}}"><span class="btnText" {% if data.fontSize|length > 0 %}style="font-size: {{data.fontSize}}px"{% endif %}>{{data.text}}</span></button>

	{% if data.showFileName == 1 %}
		<span class="file-name">{{data.fileName}}</span>
	{% endif %}
</div>
