{% set product = data.product %}
{% if product|length > 0 %}
    <article class="ecom-product">
        {% if product.assets is not null %}
        <div class="ecom-product-images-container">
            {% set imageSrcPreview = plugins.assets.images[product.assets|first.assetRef].url %}
            <div class="ecom-product-preview-image-wrap" style="background-image:url('{{ imageSrcPreview }}')">
                <img class="ecom-product-preview-image" src="{{imageSrcPreview}}" alt>
            </div>
            {% if product.assets|length > 1 %}
            <ul class="ecom-product-image-list">
            {% for asset in product.assets %}
                <li class="ecom-product-image-wrap" style="background-image:url('{{ asset.imageSrc }}')">
                    <img class="ecom-product-image" src="{{asset.imageSrc}}" alt>
                </li>
            {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% endif %}

        <div class="ecom-product-info">
            <h2 class="ecom-product-title">{{product.title}}</h2>

            {% for option in data.options %}
                <span class="ecom-product-vartitle">{{option.title}}</span>
                <select data-option-name="{{option.title}}">
                    <option value>Select</option>
                    {% for value in option.values %}
                        <option value="{{value.ref}}" {% if value.disabled or option.disabled %} disabled {% endif %}{% if option.valueRef == value.ref %} selected {% endif %}>{{value.title}}</option>
                    {% endfor %}
                </select>
            {% endfor %}

            <p class="ecom-product-price">Price:  {{data.price}}</p>
            {% if data.notAvailable %}
            <p>Currently unavailable</p>
            {% endif %}

            <button class="btn" data-ref="{{ data.variationRef }}" {% if data.disableButton %} disabled {% endif %}>Add to cart</button>

            {% if product.category is not null and product.category|length > 0 %}
            <span class="ecom-product-category">
                Category: <a href="/store/categories/{{product.category.name}}" class="store-category-link">{{product.category.name}}</a>
            </span>
            {% endif %}

            {% if product.tags is not null and product.tags|length > 0 %}
                <span class="ecom-product-tag">
                    Tags: 
                    {% for tag in product.tags %}
                    <a href="/store/tags/{{tag}}" class="ecom-product-tag-link">{{tag}}</a>
                    {% endfor %}
                </span>
            {% endif %}
        </div>

    <p class="ecom-product-long-description">{{product.longDescription}}</p>
    </article>
{% else %}
    <p>There aren't any products to display.</p>
{% endif %}
