<div>
	<p class="address">{{profile.address}}</p>
	<p class="address1">{{profile.address1}}</p>
	<p class="address2">{{profile.address2}}</p>
	<p class="postal-code">{{profile.postalcode}}</p>
	<p class="country">{{profile.country}}</p>
</div>