{% set showWidget = false %}
{% set prevDataRef = null %}
{% set nextDataRef = null %}
{% set images = [] %}

{% if data.albumRef != 0 and data.albumRef is not null %}
    {% set showWidget = true %}
    {% set prevDataRef = plugins.assets.albums[data.albumRef]|length - 1 %}

    {% if plugins.assets.albums[data.albumRef]|length > 1 %}
        {% set nextDataRef = 1 %}
    {% else %}
        {% set nextDataRef = 0 %}
    {% endif %}   
{% elseif data.images|length > 0 %}
    {% set showWidget = true %}
    {% set prevDataRef = data.images|length - 1 %}

    {% if data.images|length > 1 %}
        {% set nextDataRef = 1 %}
    {% else %}
        {% set nextDataRef = 0 %}
    {% endif %}    
{% endif %}
<div class="slideshow-widget-wrapper">
    <div class="slideshow-widget {% if showWidget == false %}hidden{% endif %}">
        <div class="{% if data.showButtons == false %}hidden{% endif %} btns-move">
            <span class="btn-prev slide-ctrl" data-ref="{{prevDataRef}}">prev</span>
            <span class="btn-next slide-ctrl" data-ref="{{nextDataRef}}">next</span>

        </div>

        <span class="btn-play pause" data-ref="0" {% if data.allowPause == false %}style="display: none"{% endif %}>play</span>
        <ul class="slideshow-image-list{% if data.crop == 1 %} crop{% endif %}">
            {% if data.albumRef != 0 and data.albumRef is not null %}
                {% set images = plugins.assets.albums[data.albumRef] %}
            {% elseif data.images|length > 0 %}
                {% set images = data.images %}
            {% endif %}

            {% for key, image in images %}
            
            {% if data.albumRef != 0 and data.albumRef is not null %}
                {% set image = plugins.assets.images[image] %}
            {% endif %}

            {% if image.imageWidth is not null and image.imageHeight is not null %}
                {% if image.imageWidth == image.imageHeight %}
                    {% set aspectClass = 'square' %}
                {% endif %}

                {% if image.imageWidth > image.imageHeight %}
                    {% set aspectClass = 'landscape' %}
                {% endif %}

                {% if image.imageWidth < image.imageHeight %}
                    {% set aspectClass = 'portrait' %}
                {% endif %}
            {% endif %}

            <li data-ref="{{key}}" class="slideshow-image-item{% if loop.index0 == 0 %} current{% endif %}">
            <span class="inner {{ aspectClass }}"{% if data.crop == 1 %} style="background-image:url('{{ image.url }}');"{% endif %}>
                <div class="image-wrapper">
                    <img class="slideshow-image" src="{{ image.url }}"{% if image.title != ''%} alt="{{ image.title }}"{% endif %}>
                </div>
                {% if image.title != empty and image.description != empty %}
                <div class="content-wrapper">
                    {% if image.title != '' %}
                    <span class="title" {% if data.showTitle == 0%} style="display: none" {% endif %}>{{image.title}}</span>
                    {% endif %}
                    {% if image.description != '' %}
                    <span class="description" {% if data.showDescription == 0%} style="display: none" {% endif %}>{{image.description}}</span>
                    {% endif %}
                </div>
                {% endif %}
            </span>
            </li>

            {% endfor %}
            
        </ul>
    </div>

   
    <div class="slideshow-widget-controls {% if data.showBullets == false %}hidden{% endif %}">
        {% for key, image in images %} 
            <span data-ref="{{key}}" class="dot slide-ctrl{% if loop.index0 == 0 %} selected{% endif %}"></span>
        {% endfor %}
    </div>

    {% if showWidget == false %}
        <div class="slideshow-empty hidden">
           <p class="slideshow-empty-title">{{"widgets.slideshow.no_images"|translate("No Images")}}</p>
           <p class="slideshow-empty-message">{{"widgets.slideshow.no_images_text"|translate("In order to use the slideshow widget, you need to select an album. If you have no albums please upload images under the 'Images' panel, or organize your images into albums by going to your Manage section.")|raw}}</p>
        </div>
    {% endif %}
</div>