{% if plugins.blog.posts %}
<article class="blog-post-item{% if plugins.blog.posts[0].featureImageAssetRef is not null %} has-image{% endif %}">
    {% if plugins.blog.posts[0].featureImageAssetRef is not null %}
        {% set assetRef = plugins.blog.posts[0].featureImageAssetRef %}
        {% set featureImg = plugins.assets.images[assetRef] %}
        <div class="blog-post-feature-image-wrap" style="background-image:url('{{ featureImg.url }}')">
            <img class="blog-post-feature-image" src="{{ featureImg.url }}" alt="">
        </div>
    {% endif %}
 
    <h2 class='blog-post-title'>{{ plugins.blog.posts[0].title|raw }}</h2>

    {% if plugins.blog.posts[0].summary|length  %}
        <p class="blog-post-summary">{{ plugins.blog.posts[0].summary }}</p>
    {% endif %}
 
    <section class="blog-post-content">
        {{ plugins.blog.posts[0].content|raw }}
    </section>
 
    <footer class="blog-post-metadata">
        {% if plugins.blog.posts[0].publishedDate %}
            <time pubdate datetime="{{ plugins.blog.posts[0].publishedDate.date }}" class="blog-post-publish-date">{{ plugins.blog.posts[0].publishedDate.date|formatBlogDate(languageCode) }}</time>
        {% endif %}
 
        {% if plugins.blog.posts[0].category|length %}
            <div class="blog-post-category">
                <p class="blog-post-category-label">Category</p>
                <p class="blog-post-category">
                    <a href="/{{ plugins.blog.directory }}/categories/{{ plugins.blog.posts[0].category|url_encode }}">{{ plugins.blog.posts[0].category }}</a>
                </p>
            </div>
        {% endif %}
 
        {% if plugins.blog.posts[0].tags|length %}
            <div class="blog-post-tags">
                <p class="blog-post-tags-label">Tags</p>
                <ol class="blog-post-tags-list">
                    {% set tags = plugins.blog.posts[0].tags %}
                    {% set count = 0 %}
                    {% for tag in tags %}
                        {% set count = count + 1 %}
                        <li class="blog-post-tag">
                            <a href="/{{ plugins.blog.directory }}/tags/{{ tag|url_encode }}">{{ tag }}</a>
                        </li>
                    {% endfor %}
                </ol>
            </div>
        {% endif %}
    </footer>
</article>
{% else %}
    <p>You haven’t added any posts yet.</p>
{% endif %}
