{% if plugins.menu and plugins.menu.items and plugins.menu.items|length > 0 %}
    {% set activeCount = 0 %}
    {% for topSection in plugins.menu.items %}
        {% if topSection.active == 1 %}
            <!-- gets the top level sections -->
            <div class="main wrapper clearfix {% if loop.first %}selected{% endif %}" id="menu-section-{{topSection.ref}}">
                <div class="menu-header">
                    <div class="menu-name-background">
                        <h1 class="menu-name">{{ topSection.title }}</h1>
                    </div>

                    {% if topSection.description is not null %}
                        <p class="menu-description">{{ topSection.description }}</p>
                    {% endif %}

                    {% if topSection.availability %}
                        <p class="menu-availability">{{ topSection.availability }}</p>
                    {% endif %}
                </div>

                {% if topSection.items|length %}
                
                {% for item in topSection.items %}
                    {% if item.menuType == 'section' %}
                        {% if loop.first == false %}
                        {# close the preview subsection as one ol should only have one li sub section #}
                            </ol>
                        {% endif %}

                        <ol class="menu-subsection">

                        {% include "widgets/widget_menu_section.twig" with {'subsection': item} %}
                    {% else %}

                        {% if loop.first == true %}

                            {% set count = 0 %}
                            {% set doLoop = true %}
                            {% set numClass = 'odd' %}

                            {% for item in topSection.items if doLoop %}
                                {% if item.menuType != 'section' %}
                                    {% set count = count + 1 %}
                                {% elseif item.menuType == 'section' %}
                                    {% set doLoop = false %}
                                {% endif %}
                            {% endfor %}

                            {% if count % 2 == 0 %}
                                {% set numClass = 'even' %}
                            {% endif %}

                            <ol class="menu-items {{ numClass }} {{ count }}-columns">
                        {% elseif topSection.items[loop.index0 - 1 ].menuType != item.menuType %}
                        {# close the preview ol if previous is not item #}
                            </ol>

                            {% set count = 0 %}
                            {% set doLoop = true %}
                            {% set currentIndex = loop.index %}
                            {% set numClass = 'odd' %}

                            {% for item in topSection.items if doLoop %}
                                {% if item.menuType != 'section' and loop.index - currentIndex >= 0 %}
                                    {% set count = count + 1 %}
                                {% elseif item.menuType == 'section' and loop.index - currentIndex >= 0 %}
                                    {% set doLoop = false %}
                                {% endif %}
                            {% endfor %}

                            {% if count % 2 == 0 %}
                                {% set numClass = 'even' %}
                            {% endif %}
                                <ol class="menu-items {{ numClass }} {{ count }}-columns">
                            {% endif %}

                        {% include "widgets/widget_menu_item.twig" with {'item': item, 'plugins': plugins} %}
                    {% endif %}
                {% endfor %}
                </ol>
                {% endif %}

                <!-- the menu also has note property, now we use the section note but might need to be changed later -->
                {% if topSection.note is not null %}
                <div class="menu-info">
                    <p class="menu-note">{{ topSection.note }}</p>
                    {% if topSection.dietaryInfoKeys|length %}
                        {% for key in topSection.dietaryInfoKeys %}
                            {% if key == 'vegetarian' %}
                                <dl class="menu-dietary-key">
                                    <dt class="vegetarian-icon dietary-icon"></dt>
                                    <dd>{{"widgets.menu.suitable_for_veg"|translate("Suitable for vegetarians")}}</dd>
                                </dl>
                            {% elseif key == 'glutenFree' %}
                                <dl class="menu-dietary-key">
                                    <dt class="glutenFree-icon dietary-icon"></dt>
                                    <dd>{{"widgets.menu.gluten_free"|translate("Gluten free")}}</dd>
                                </dl>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
                {% endif %}
            </div>
            {% set activeCount = activeCount + 1 %}
        {% endif %}
    {% endfor %}
    {% if activeCount == 0 %}
        <p>{{"shared_views.menu.no-active-sections"|translate("You have no active sections")}}</p>
    {% endif %}
{% else %}
    <p>{{"shared_views.menu.no-menu"|translate("You have no menu")}}</p>
{% endif %}