{% if data.useTemplate != 1 and data.bgImg and data.bgImg != '' %}
    {% set bgImg = data.bgImg %}
{% else %}
    {% set bgImg = data.defaultBgImg %}
{% endif %}

<div class="feature-bgimg" {% if data.defaultBgImg|length > 0 or  data.bgImg|length > 0 %} style="background-image: url('{{bgImg}}'); background-position: center {{data.positionTopPercentage}}%" {% endif %}>
	<div class="content">
		<span class="spare wrapper">

			{% if data.header|length > 0 or profile.headline|length > 0 %}
				{% if data.header and data.header !='profile' and data.header !=''%}
				<h2>
					<span>{{data.header|raw}}</span>
				</h2>
				{% elseif profile.headline and profile.headline != '' %}
				<h2>
					<span>{{profile.headline|raw}}</span>
				</h2>
				{% endif %}
			{% endif %}

			{% if data.strapline|length > 0 or profile.strapline|length > 0 %}
				{% if data.strapline and data.strapline !='profile' and data.strapline !=''%}
				<h3>
					<span>{{data.strapline|raw}}</span>
				</h3>
				{% elseif profile.strapline and profile.strapline != '' %}
				<h3>
					<span>{{profile.strapline|raw}}</span>
				</h3>
				{% endif %}
			{% endif %}

			{% if data.buttonText|length > 0 %}
			<span class="feature-btn{% if data.align %} {{data.align}}{% endif %}">
				<button class="btn {% if data.italic %}italic{% endif %} {% if data.bold %}bold{% endif %}" {% if data.showBtn == false %}style='display: none'{% endif %} >{% if data.icon|length > 0 %}<i class="{{data.icon}} {% if data.color %}icon-{{data.color}}{% endif %}"></i> {% endif %}<span class="btnText" {% if data.fontSize|length > 0 %}style="font-size: {{data.fontSize}}px"{% endif %}>{{data.buttonText}}</span></button>
			</span>
			{% endif %}
		</span>

	</div>
</div>

<!-- this is for getting the background image naturalWidth and naturalHeight -->
{% if data.defaultBgImg|length > 0 or  data.bgImg|length > 0 %}
<img src="{{bgImg}}" style="display:none;" alt="feature image"/>
{% endif %}
