<h2 class="checkout-title">{{ 'widgets.ecomcheckout.checkout_title'|translate('Checkout') }}</h2>
{% if data.items|length %}
    <table>
        <th></th>
        <th>{{ 'widgets.ecomcheckout.item_description'|translate('Description') }}</th>
        <th>{{ 'widgets.ecomcheckout.item_price_per_unit'|translate('Price per unit') }}</th>
        <th>{{ 'widgets.ecomcheckout.item_description'|translate('Quantity') }}</th>
        <th>{{ 'widgets.ecomcheckout.item_description'|translate('Amount') }}</th>
        {%  for item in data.items %}
            <tr>
                <td>
                    <div class="image-wrap" style="background-repeat: no-repeat;background-image:url('{{ item.assetUrl }}')">
                        <img class="image" style="max-width: 150px" src="{{ item.assetUrl }}">
                    </div>
                </td>
                <td>{{item.title}}</td>
                <td>{{item.pricePU}}</td>
                <td>
                    <button class='js-remove' data-ref="{{item.ref}}">-</button>
                    {{item.quantity}}
                    <button class='js-add' data-ref="{{item.ref}}">+</button>
                </td>
                <td>{{item.price}}</td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="checkout-subtotal">{{ 'widgets.ecomcheckout.subtotal'|translate('Subtotal:') }} {{data.items.totalPrice}}</td>
        </tr>
    </table>

    <div class='delivery'>
        <label for="firstname">First name:</label>
        <input type="text" id="firstname" placeholder="First name">

        <label for="lastname">Last name:</label>
        <input type="text" id="lastname" placeholder="Last name">

        <label for="address1">Address line 1:</label>
        <input type="text" id="address1" placeholder="Address line 1">

        <label for="address2">Address line 2:</label>
        <input type="text" id="address2" placeholder="Address line 2">

        <label for="postcode">Postal code:</label>
        <input type="text" id="postcode" placeholder="Postal code">

        <label for="country">{{ 'widgets.ecomcheckout.currency'|translate('Country') }}</label>
        <select id="country" name="country">
            <option value=''>{{ 'widgets.ecomcheckout.choose_currency'|translate('Choose your countries') }}</option>
            {% for countryOpt in data.countries %}
            <option{% if data.countryRef == countryOpt.ref %} selected{% endif %} value='{{ countryOpt.ref }}'>{{ countryOpt.name }}</option>
            {% endfor %}
        </select>

        <label for="tel">Telephone:</label>
        <input type="text" id="tel" placeholder="Telephone">

        <label for="email">Email:</label>
        <input type="email" id="email" placeholder="Email">

        <label for="shipping">{{ 'widgets.ecomcheckout.select_shipping'|translate('Select your shipping method') }}:</label>
        <select id="shipping" name="shipping">
            <option value=''>{{ 'widgets.ecomcheckout.choose_shipping'|translate('Choose your shipping method') }}</option>
            {% set noShipping = true %}
            {% for shipping in data.shippings %}
                {% if shipping.country.ref == data.countryRef %}
                <option {% if data.shippingRef == shipping.ref %} selected{% endif %} value='{{ shipping.ref }}'>{{ shipping.name }}</option>
                {% set noShipping = false %}
                {% endif %}
            {% endfor %}

            {% if noShipping == true or data.shippings|length == 0 %}
                <option value=''>{{ 'widgets.ecomcheckout.no_shipping'|translate('No shipping method available') }}</option>
            {% endif %}
        </select>

        <div class="delivery-price">{{ 'widgets.ecomcheckout.delivery_amount'|translate('Delivery price:') }} {{data.shippingPrice}}</div>
    </div>

    <div class='checkout-total-amount'>{{ 'widgets.ecomcheckout.total_amount'|translate('Total amount:') }} {{data.totalPrice}}</div>
{% endif %}