<form class="widget-buynow-container">
    <ul class="widget-buynow-container-list">
        <li>
            <span class="widget-buynow-title">Your details</span>

            {% if data.showNames == true %}
                <div>
                    <label title="First name">First name</label>
                    <input type="text" name="firstname" class="widget-buynow-first-name" title=First name placeholder="First name">
                    <span class='filed-error-firstName errors'></span>
                </div>
                <div>
                    <label title="Last name">Last name</label>
                    <input type="text" name="lastname" class="widget-buynow-last-name" title="Last name" placeholder="Last name">
                    <span class='filed-error-lastName errors'></span>
                </div>
            {% endif %}

            <div>
                <label title="Account">Account</label>
                <input type="email" name="Account" class="widget-buynow-email bk-standard-input" title="Account" placeholder="me@example.com">
                <span class='filed-error-email errors'></span>
            </div>
            <div>
                <label title="Password">Password</label>
                <input type="password" class="password" title="Password" placeholder=Password>
                <span class='filed-error-password errors'></span>
                <button class="password-mask-toggle" type="button" aria-controls="password">Show</button>
            </div>
        </li>

        <li>
        {% if data.paymentMethods and data.paymentMethods|length > 0 %}
            <span class="widget-buynow-title">Methods of payment</span>
            <ul class="widget-buynow-paymentMethods">

            {% for ref, name in data.paymentMethods %}
                <li class="payment-method">
                    <label title="{{ name }}" name="paymentMethods">{{ name }}
                        <input type="radio" class="{{ name }}" name="paymentMethods" value="{{ ref }}" title="{{ name }}" {% if loop.first %}checked{% endif %}>
                    </label>
                </li>
            {% endfor %}

            </ul>
        {% else %}
            {% set noPaymentMethods = true %}
            <span>No payment methods found.</span>
        {% endif %}
        </li>

        <li>
            <span class="widget-buynow-title">You are about to purchase:</span>
            {% if data.packageData and data.packageData|length > 0 %}
                <div class='widget-buynow-package'>
                    <span class="widget-buynow-package-name" data-ref="{{ data.packageData.ref }}">{{ data.packageData.name }}</span>
                    <span class="widget-buynow-package-price" data-annually="" data-monthly="">{{ data.packageData.price }}</span>
                </div>

                <ul>
                    <li class="pay-period">
                        <label title="Pay: Annually" name="paymentPeriod">Pay: Annually
                            <input type="radio" class="payment-period-annually" name="paymentPeriod" value="12" checked="checked" title="Pay: Annually">
                        </label>
                    </li>
                    <li class="">
                        <label title="Pay: Monthly" name="paymentPeriod">Pay: Monthly
                            <input type="radio" class="payment-period-monthly" name="paymentPeriod" value="1" title="Pay: Monthly">
                        </label>
                    </li>
                </ul>
            {% else %}
                {% set noPackageInfo = true %}
                <span>No package information found.</span>
            {% endif %}
        </li>
    </ul>

    <div>
        <label class="widget-buynow-newsletter-text">Please don't send me BaseKit news by email or contact me by telephone
            <input type="checkbox" class="widget-buynow-newsletter" name="newsletter" title=newsletter>
        </label>
    </div>

    <button class="widget-buynow-make-payment" title="{{'widgets.buynow.submit'|translate('Make a payment using your selected package options')}}" type="submit" {% if noPaymentMethods or noPackageInfo %} disabled {% endif %}>Buy now</button>
</form>