{% if plugins.ecommerce.product is not null %}
    {% set product = plugins.ecommerce.product %}
    <article class="ecom-product" itemscope itemtype="http://schema.org/Product">
        {% if product.assets|length > 0 %}
        <div class="ecom-product-images-container">
            {% if product.featureImageAssetRef %}
                {% set imageSrcPreview = plugins.assets.images[product.featureImageAssetRef].url %}
            {% else %}
                {% set imageSrcPreview = plugins.assets.images[product.assets|first.assetRef].url %}
            {% endif %}
            <div class="ecom-product-preview-image-wrap" style="background-image:url('{{ imageSrcPreview }}')">
                <img class="ecom-product-preview-image" src="{{imageSrcPreview}}" alt itemprop="image">
            </div>
            {% if product.assets|length > 1 %}
                <ul class="ecom-product-image-list">
                    {% for asset in product.assets %}
                        {% if plugins.assets.images[asset.assetRef].fileType == 'image' %}
                            {% set imageSrc = plugins.assets.images[asset.assetRef].url%}
                            <li class="ecom-product-image-wrap" style="background-image:url('{{ imageSrc }}')">
                                <img class="ecom-product-image" src="{{ imageSrc }}" alt>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        {% endif %}

        <div class="ecom-product-info">
            <h2 class="ecom-product-title" itemprop="name">{{product.title}}</h2>
            {% if data.price is null %}
                {% set price = product.formattedPrice %}
            {% else %}
                {% set price = data.price %}
            {% endif %}


            {% if data.variationExists is not defined or data.variationExists %}

                {% if product.options|length > 0 %}
                    <span itemprop="offers" itemscope itemtype="http://schema.org/AggregateOffer">
                        <p class="ecom-product-price" itemprop="lowPrice">{{ price }}</p>
                    </span>
                {% else %}
                    <span itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        <p class="ecom-product-price" itemprop="price">{{ price }}</p>
                    </span>
                {% endif %}

                {% if data.soldOut %}
                    <p>Sold out</p>
                {% endif %}

            {% else %}
                <p>Currently unavailable</p>
            {% endif %}

            {% if product.options|length > 0 %}
                <div class="ecom-product-variation">
                {% for option in product.options %}
                    <span class="ecom-product-vartitle">{{option.title}}</span>
                    <select name="{{option.title}}">
                        {% for value in option.values %}
                            <option {% if option.selectedValue == value.title %} selected {% endif %}>
                                {{value.title}}
                            </option>
                        {% endfor %}
                    </select>
                {% endfor %}
                </div>
            {% endif %}

            <div class="ecom-product-add-to-cart-btn-wrapper">
                <button class="btn ecom-product-add-to-cart-btn" data-ref="{{ data.variationRef }}" {% if data.disableButton %} disabled {% endif %}>
                    {% if data.notAvailable %}
                        <span class="text">{{ 'widgets.ecomproduct.buy_unavailable'|translate('Currently unavailable') }}</span>
                    {% else %}
                        <span class="text">Add to cart</span>
                    {% endif %}
                </button>
            </div>

            <div class="ecom-product-go-to-checkout-btn-wrapper" hidden>
                <a href="{{ requestBase }}/store/cart" class="btn ecom-product-go-to-checkout-btn">
                    {{ 'widgets.ecomproduct.cart_link'|translate('View basket') }}
                </a>
            </div>

            {% if (product.category is not null and product.category|length > 0) or (product.tags is not null and product.tags|length > 0) %}
            <div class="ecom-product-cattag">
                {% if product.category is not null and product.category|length > 0 %}
                <span class="ecom-product-category">
                    Category
                    <a href="{{ requestBase }}/store?productlist-categories={{ product.category.slug }}" class="store-category-link">{{ product.category.name }}</a>
                </span>
                {% endif %}

                {% if product.tags is not null and product.tags|length > 0 %}
                    <span class="ecom-product-tag">
                        Tags 
                        {% for tag in product.tags %}
                            <a href="{{ requestBase }}/store?productlist-tags={{ tag.slug }}" class="ecom-product-tag-link">{{ tag.title }}</a>
                        {% endfor %}
                    </span>
                {% endif %}
            </div>
            {% endif %}

        </div>

        <div class="ecom-product-long-description" itemprop="description">{{ product.content|raw }}</div>
    </article>
{% elseif app.mode != 'published' and app.mode != 'site-preview' %}
    <p>There aren't any products to display.</p>
{% endif %}
