<li class="menu-item{% if item.promoted %} menu-item-promoted{% endif %}">
    <div class="inner-item">
        <h3 class="menu-item-name">{{ item.title }}</h3>

       {% if item.assetRef is not null %}
            {% set ref = item.assetRef %}
            {% set featureImg = plugins.assets.images[ref] %}
        <div class="menu-item-image-wrap" style="background:url('{{ featureImg.url }}')">
            <img class="menu-item-image" alt="" src="{{ featureImg.url }}">
        </div>
       {% endif %}

        {% if item.prices|length %}
        <div class="menu-item-price">
            {% if item.prices.name == 'Normal' %}
                <p class="standard-price">{{ item.prices.price }}</p>
            {% else %}
                <p class="variant-price">{{ item.prices.name }} {{ item.prices.price }}</p>
            {% endif %}
        </div>
        {% endif %}

        {% if item.description is not null %}
            <p class="menu-item-description">{{ item.description }}</p>
        {% endif %}

        {% if item.nutritionalProperties|length %}
            <h4 class="menu-item-nutritional-title">{{"widgets.menu.nutrition"|translate("Nutritional information")}}</h4>
            <div class="menu-item-nutritional-prop"> {{ item.nutritionalProperties }} </div>
        {% endif %}

        {% if item.dietaryInfo|length %}
            <div class="menu-section-item-dietary-props">
                {% for key, value in item.dietaryInfo %}
                    {% if value == 1 %}
                        <span class="{{ key }}-icon dietary-icon"></span>
                    {% endif %}
                {% endfor %}
                <span class="{{ item.spicy|replace(' ','-') }}-icon dietary-icon"></span>
            </div>
        {% endif %}
    </div><!--end inner-item-->
</li>