{% if plugins.blog.posts|length %}
 
    {% if plugins.blog.displayBlogHomePageLink %}
        <a class="blog-back-home" href="/{{ plugins.blog.directory }}">See all recent posts</a>
    {% endif %}
 
    <section class="blog-post-list">
        {% for post in plugins.blog.posts %}
            {% set postPermalink = '/' ~ plugins.blog.directory ~ '/' ~ post.slug|url_encode %}
            <article class="blog-post-item{% if post.featureImageAssetRef is not null %} has-image{% endif %}">
                
                {% if post.featureImageAssetRef is not null %}
                    {% set assetRef = post.featureImageAssetRef %}
                    {% set featureImg = plugins.assets.images[assetRef] %}
                <div class="blog-post-feature-image-wrap" style="background-image:url('{{ featureImg.url }}')">
                    <img class="blog-post-feature-image" src="{{ featureImg.url }}" alt="">
                </div>
                {% endif %}

                <h2 class="blog-post-title">
                    <a href="{{ postPermalink }}">
                        {{ post.title|raw }}
                    </a>
                </h2>

                {% if post.summary|length > 0 %}
                    {% if data.postDisplayType == 'summary' %}
                        <p class="blog-post-summary">{{ post.summary }}</p>
                        <p class="blog-post-more-link">
                            <a href="{{ postPermalink }}">{{ 'widgets.blogpostlist.read_more'|translate('Read more') }}</a>
                        </p>
                    {% else %}
                        <section class="blog-post-body">
                            {{ post.content|raw }}
                        </section>
                    {% endif %}
                {% endif %}
                <a href="{{ postPermalink }}" class="blog-post-date">
                    <time pubdate datetime="{{ post.publishedDate.date }}" class="blog-post-published-date">{{ post.publishedDate.date }}</time>
                </a>
            </article>
        {% endfor%}
    </section>
    
    <footer class="blog-list-footer">
    {% if plugins.blog.currentPage > 1 and plugins.blog.currentPage <= plugins.blog.totalPages %}
        <a href="{{ plugins.blog.pathFormat ~ (plugins.blog.currentPage - 1) }}" class="blog-post-pagination-pagepaginate-newer">{{ "shared_views.blog-list.newer"|translate("Newer") }}</a>
    {% endif %}

    {% if (plugins.blog.totalPages > 1 and plugins.blog.currentPage != plugins.blog.totalPages and plugins.blog.currentPage <= plugins.blog.totalPages) %}
        <a href="{{ plugins.blog.pathFormat ~ (plugins.blog.currentPage + 1) }}" class="blog-post-pagination-page paginate-older">{{ "shared_views.blog-list.older"|translate("Older") }}</a>
    {% endif %}

    </footer>

{% else %}
    <p>There aren't any posts to display.</p>
{% endif %}
