{% set url = null %}
{% for page in pages %}
    {% if page.type == 'home' %}
        {% set url = page.request %}
    {% endif %}
{% endfor %}

{% if url|length>0 %}<a href='/{{url}}'>{% endif %}
<div class="logo">
    <img src="{% if profile.logo and profile.logo != '' %}{{profile.logo}}{% elseif data.defaultlogo and data.defaultlogo != '' %}{{data.defaultlogo}}{% else %}{{'/images/logo.png'|expandAssetUrl}}{% endif %}" {% if data.widthPercent and data.widthPercent != '' and profile.logo and profile.logo != '' %}style="width: {{data.widthPercent}}%" {% endif %}></img>
</div>

{% if url|length>0 %}</a>{% endif %}

