<div class="feature-bgimg" {% if data.defaultBgImg|length > 0 or  data.bgImg|length > 0 %} style="background-image: url('{% if data.bgImg and data.bgImg != '' %}{{data.bgImg }}{% else %}{{data.defaultBgImg}}{% endif %}'); background-position: center {{data.positionTopPercentage}}%" {% endif %}>
	<div class="content">
		<span class="spare wrapper">
			<h2><span>
				{{data.header|raw}}
				{% if data.showBtn == 1 and ("btn-top" in data.preset) %}
				<button class="btn {{data.preset}} {% if data.italic %}italic{% endif %} {% if data.bold %}bold{% endif %} {{data.align}}" {% if data.showBtn == false %}style='display: none'{% endif %} >{% if data.icon|length > 0 %}<i class="{{data.icon}} {% if data.color %}icon-{{data.color}}{% endif %}"></i> {% endif %}<span class="btnText" {% if data.fontSize|length > 0 %}style="font-size: {{data.fontSize}}px"{% endif %}>{{data.buttonText}}</span></button>
				{% endif %}
			</span></h2>
				{% if data.showBtn == 1 and ("btn-middle" in data.preset) %}
				<button class="btn {{data.preset}} {% if data.italic %}italic{% endif %} {% if data.bold %}bold{% endif %} {{data.align}}" {% if data.showBtn == false %}style='display: none'{% endif %} >{% if data.icon|length > 0 %}<i class="{{data.icon}} {% if data.color %}icon-{{data.color}}{% endif %}"></i> {% endif %}<span class="btnText" {% if data.fontSize|length > 0 %}style="font-size: {{data.fontSize}}px"{% endif %}>{{data.buttonText}}</span></button>
				{% endif %}
			<h3><span>
				{{data.strapline|raw}}
				{% if data.showBtn == 1 and ("btn-bottom" in data.preset)%}
				<button class="btn {{data.preset}} {% if data.italic %}italic{% endif %} {% if data.bold %}bold{% endif %} {{data.align}}" {% if data.showBtn == false %}style='display: none'{% endif %} >{% if data.icon|length > 0 %}<i class="{{data.icon}} {% if data.color %}icon-{{data.color}}{% endif %}"></i> {% endif %}<span class="btnText" {% if data.fontSize|length > 0 %}style="font-size: {{data.fontSize}}px"{% endif %}>{{data.buttonText}}</span></button>
				{% endif %}
			</span></h3>

			<span class="feature-btn">
				{% if data.showBtn == 1 and (data.preset != "btn-bottom-right" and data.preset != "btn-top-right" and data.preset != "btn-middle" and data.preset != "btn-top-right-align-center" and data.preset != "btn-middle-align-center" and data.preset != "btn-bottom-right-align-center")
					%}
				<button class="btn {{data.preset}} {% if data.italic %}italic{% endif %} {% if data.bold %}bold{% endif %} {{data.align}}" {% if data.showBtn == false %}style='display: none'{% endif %} >{% if data.icon|length > 0 %}<i class="{{data.icon}} {% if data.color %}icon-{{data.color}}{% endif %}"></i> {% endif %}<span class="btnText" {% if data.fontSize|length > 0 %}style="font-size: {{data.fontSize}}px"{% endif %}>{{data.buttonText}}</span></button>
				{% endif %}
			</span>
		</span>

	</div>
</div>

<!-- this is for getting the background image naturalWidth and naturalHeight -->
{% if data.defaultBgImg|length > 0 or  data.bgImg|length > 0 %}
<img src="{% if data.bgImg and data.bgImg != '' %}{{data.bgImg }}{% else %}{{data.defaultBgImg}}{% endif %}" style="display:none;" alt="{{"widgets.feature.imgAlt"|translate("feature image")}}"/>
{% endif %}
