<div class="ecombasket-pull"><p>{{ 'widgets.ecombasket.basket'|translate('Basket') }}: <span class="basket-count">{{data.items.quantity}}</span></p></div>

<div class="ecombasket-list-container">
    <ul>
        {% for item in data.items %}
            <li data-ref="{{item.ref}}">
                <div class="ecombasket-item-image" style="background-image:url({{item.assetUrl}});">
                    <img src="{{item.assetUrl}}">
                </div>

                <span class='ecombasket-item-title'>{{item.title}}</span>
                <span class='ecombasket-item-count'>{{item.quantity}}</span>
                <button class='js-remove'>{{ 'widgets.ecombasket.remove'|translate('Remove') }}</button>
            </li>
        {% endfor %}
    </ul>

    <div class="ecombasket-total-wrap"><p>Total: <span class="ecombasket-total">{{data.items.total}}</span></p></div>
    <div class="ecombasket-checkout-wrap"><a class="ecombasket-checkout-link" href="/store/checkout">{{ 'widget.ecombasket.checkout_link'|translate('Checkout') }}</a></div>
</div>