<div class="extendednavigation">
{% set i = 0 %}
{% for page in pages %}
	{% if (page.type == 'home' or page.type == 'page' or page.type == 'index' or page.type == 'folder') and page.status != 'inactive' %}
		{% set i = i + 1 %}
	{% endif %}
{% endfor %}

	<ul class="{{ data.align ? ' align-' : ''}}{{ data.align }} {{i}}-items">
		{% for page in pages %}
            {% set pageRequest = (page.type == 'home' and app.mode != 'site-preview') ? '' : page.request %}
			{% if (page.type == 'home' or page.type == 'page' or page.type == 'index' or page.type == 'folder') and page.status != 'inactive' and page.hiddenFromNavigation != '1' %}
				<li id="menu-item_{{ page.ref }}" class="{{ page.type }}" {% if page.type == 'folder' %}aria-haspopup="true"{% endif %}>
				{% if (page.type != 'folder') %} <a href="{{ relativeUrlPrefix }}/{{ pageRequest }}">{% endif %}
						<span class="text">{{ page.title }}</span>
				{% if (page.type != 'folder') %}</a>{% endif %}
					{% if (page.subPages) %}

					{% set j = 0 %}
					{% for subPage in page.subPages %}
						{% if subPage.status != 'inactive' and subPage.hiddenFromNavigation != '1' %}
							{% set j = j + 1 %}
						{% endif %}
					{% endfor %}

					<ul class="{{j}}-items">
						{% for subPage in page.subPages %}
							{% if subPage.status != 'inactive' and subPage.hiddenFromNavigation != '1' %}
							<li id="menu-item_{{ subPage.ref }}" class="{{subPage.type}}">
								<a href="{{ relativeUrlPrefix }}/{{ subPage.request }}">
								<span class="text">{{ subPage.title }}</span>
								</a>
							</li>
							{% endif %}
						{% endfor %}
					</ul>
					{% endif %}
				</li>
			{% endif %}
		{% endfor %}
	</ul>
    <a href="#" class="pull"></a>
</div>
